<head>
  <meta charset="UTF-8">
  <title>Rose 2 Rough!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
       &#127863 Welcome to Rose 2 Rough! Wine Reviews &#127863
      </h1>
    </header>
    <nav>
    <a href="/">Home</a>
      <!-- If the user is logged in, show a logout button -->
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <!-- Otherwise, show a link to login -->
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main class="container container-fluid mt-5">
      <aside>
        <h2>Enjoy the Wine Reviews!</h2>
      </aside>
      <div class="review">
        {{{ body }}}
      </div>
    </main>
    <!-- If the user is logged in, load the JS script for when they logout -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>