<section class="container">
  <!-- We are counting the number of times the user has visited the homepage -->
  <!-- But we are showing the number the times we visitied the cellar page -->
  <h3>Number of times you've visited the cellar page: {{countVisit}}</h3>

  <h3 class="cellar-name">{{cellar.name}}</h3>
  <h4>Current time and Date: {{format_time cellar.format_date}}</h4>
  <section class="flex-row justify-center">
    <!-- For each painting that belongs to this gallery, the painting-details partial is used to render each painting's data -->
    {{#each cellar.reviews as |review|}}
    {{> cellar-details}}
    {{/each}}
  </section>
</section>