<section class="review-card">
  <div href="/review/{{id}}">
    <header>Title: {{title}}</header>
    <p>Description: {{description}}</p>
    <p>Guest: {{taster_name}} </p>
  </div>
</section>


  



