
<section class="review-card">
  <div href="/review/{{id}}">
    <header>Title: {{review.title}}</header>
    <p>Description: {{review.description}}</p>
    <p>Variety: {{review.variety}} </p>
  </div>
</section>



  



